    <style>
        .accordion-button {
            background-color: #dfdfdf;
            border-bottom: none; 
            padding-right: 100px;
        }
        .accordion-button:not(.collapsed) {
            background-color: #dfdfdf;
                        border-top: none; /* Removes the top border */

        }
        .accordion-body {
            background-color: #dfdfdf;
        }
        .accordion-button:focus {
            box-shadow: none;
        }

    
    </style>

<div class="accordion accordion-flush" id="accordionFlushExample">

        {% include "layouts/accord/accordItem_01.njk" %}
        {% include "layouts/accord/accordItem_02.njk" %}
        {% include "layouts/accord/accordItem_03.njk" %}

        
    </div>

    <script>
function customSmoothScroll(selector) {
  const element = document.querySelector(selector);
  if (element) {
    // Adjust this CSS variable in your stylesheet based on the height of any fixed elements
    const offset = parseInt(getComputedStyle(document.documentElement).getPropertyValue('--scroll-offset')) || 0;

    // Calculate the top position of the element relative to the document, minus the offset
    const targetPosition = element.getBoundingClientRect().top + window.scrollY - offset;
    const initialPosition = window.scrollY;  
    const duration = 500;
    const startTime = performance.now();    

    function scrollStep(timestamp) {
      const currentTime = timestamp - startTime;
      const progress = Math.min(currentTime / duration, 1);

      window.scrollTo(0, initialPosition + (targetPosition - initialPosition) * progress);
      
      if (currentTime < duration) {
        requestAnimationFrame(scrollStep);
      }
    }

    requestAnimationFrame(scrollStep);
  }
}

      </script>