

<div class="navContainer">
 
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    {# <a class="navbar-brand" href="#">Navbar</a> #}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
     
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Coders Guild
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/codersGuild_01_introJS">Intro to JS Practicals - Tasks</a></li>
            <li><a class="dropdown-item" href="/codersGuild_02_Loops_01">Loops, Arrays and Objects - Lesson 1 Tasks</a></li>
            <li><a class="dropdown-item" href="/codersGuild_03_LAO_prac">Loops, Arrays and Objects - Practical lesson tasks</a></li>
            <li><a class="dropdown-item" href="/codersGuild_04_Dom_Lesson_Tasks">The Dom Lesson Tasks</a></li>
            <li><a class="dropdown-item" href="/codersGuild_05_Dom_Prac">The Dom Practical Tasks</a></li>
            <li><a class="dropdown-item" href="/codersGuild_06_form_demo">Form Demo</a></li>

          </ul>
        </li>
           <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/codersGuild_06_form_demo">Contact me</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</div>