---
layout: layouts/base.njk
title: Home Page
---

<h1>About page as an .njk</h1>

<div class="containerGrid">
    <div class="myTemp"></div>
    <div class="heroSection">This is the home page.</div>
    <div class="myTemp"></div>
</div>
