---
layout: layouts/base.njk
title: Home Page
---

 
    <h2>HTML Code Snippet</h2>
    <pre><code class="language-html">
 &lt;h1&gt;Calculator&lt;/h1&gt;

  &lt;input type="number" id="number1" placeholder="Enter first number"&gt;
  &lt;input type="number" id="number2" placeholder="Enter second number"&gt;

  &lt;button onclick="calculator('add')"&gt;Addition&lt;/button&gt;
  &lt;button onclick="calculator('subtract')"&gt;Subtraction&lt;/button&gt;
  &lt;button onclick="calculator('multiply')"&gt;Multiply&lt;/button&gt;
  &lt;button onclick="calculator('divide')"&gt;Divide&lt;/button&gt;
  &lt;button onclick="calculator('modulus')"&gt;Modulus&lt;/button&gt;

  &lt;p id="result"&gt;&lt;/p&gt;

  &lt;button style="background-color: pink;" onclick="resetFields()"&gt;Reset&lt;/button&gt;
    </code></pre>

  
    <h2>JavaScript Code Snippet</h2>
    <pre><code class="language-javascript">
// Sample JavaScript Code
console.log('Hello, World!');
    </code></pre>

 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js"></script>


   