---
layout: layouts/base.njk
title: Home Page
---

<div id="containerTop">
  <div class="mainTitle d-flex align-items-center justify-content-center">
    <h1 class="display-6 text-muted">Faruq's Tech Stack</h1>
  </div>

  <div id="mainImage"><img src="images/header_04.png" alt="My Image" /></div>
  <div class="theAccord">{% include "layouts/accord/mainAccordian.njk" %}</div>
</div>

{% include "layouts/bricks/brick1Content.njk" %}

<div id="brick2">2</div>
<div id="brick3">3</div>
<div id="brick4">4</div>

<script></script>
